.search-item-title{
    font-size: 18px;
}
#search-loading-icon{
    text-align: center;
    margin: 0px auto;
}
.add-new-list {
    margin: 10px 0 -10px;
}
.navbar input[type=search]{
    margin-top: 5px;
    height: 18px;
}
.navbar .btn{
    margin-top: 0px;
}
#locationBar {
    width:220px;
}
#searchBar {
	width: 350px;
}
a.previousPage, a.nextPage {
    display:none;
}