<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <p><a class="btn btn-primary btn-small">+</a>&nbsp;&nbsp;&nbsp;&nbsp;Add New Tag </p>
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Filter by Tags</li>
          <input type="checkbox" name="option1" value="Milk"> Morningside Restaurants <br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
        </ul><br><br>
         <p>&nbsp;&nbsp;<a class="btn btn-primary btn-small">Update Results</a></p>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
    
      <div class="hero-unit">

        </div> 
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p align="center">&copy; TeamSALL 2012</p>
  </footer>

</div><!--/.fluid-container-->