<div class="container">
  <h1> YelpLists FAQ </h1>

  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit1">
      <p>
        Here are some questions new application users may have. If you have more specific questions, feel free to email us at <a href="mailto:help@projectsall.com">help@projectsall.com</a>.

        <ul>
          <li><a href="" ng-click="scrollToSection('q1')">How do I search for venues near my area?</a></li>
          <li><a href="" ng-click="scrollToSection('q2')">How can I filter my search results further?</a></li>
          <li><a href="" ng-click="scrollToSection('q3')">How do I add a venue to a list?</a></li>
          <li><a href="" ng-click="scrollToSection('q4')">How do I create more lists for me to add venues to?</a></li>
          <li><a href="" ng-click="scrollToSection('q5')">How do I delete a list that I no longer want?</a></li>
          <li><a href="" ng-click="scrollToSection('q6')">How can I navigate through my lists?</a></li>
        </ul>
      </p>
      </div>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit1">
   	  	<p id="q1">
   	  	  <h3>How do I search for venues near my area?</h3>
           
          <div align="center">
            <img style="border:5px solid black" src="img/searchbar.png" height="175px" width="1100px">
          </div>
          <br>
          In the navigation panel at the top of each page (as highlighted above), you can input a keyword to characterize the type of venue you are searching for in the first box and the general location you would like to search around in the second. Hitting search will bring you to the search results page and display a list of businesses for you to browse and select for bookmarking. If you would like more information about a specific venue, simply click on the linked name and a new browser tab will open to its personal Yelp business page.
  		  </p>
      <hr>
        <p id="q2">
           <h3>How can I filter my search results further?</h3>
           
          <div align="center">
            <img style="border:5px solid black" src="img/searchfilter.png" height="300px" width="1100px">
          </div>
          <br>
          Upon a successful search, you will see a filter dropdown at the top right corner above your search results (as shown above). This dropdown will be populated with the general categories that results matching your original query fall under. If you see a particular filter that narrows down your search, you may select it and your search will be rerun with that filter in mind. Your results will appear below as in a normal search.
        </p>
      <hr>
        <p id="q3">
           <h3>How do I add a venue to a list?</h3>

          In the navigation panel at the top of each page, you can input a keyword to characterize the type of venue you are searching for in the first box and the general location you would like to search around in the second. Hitting search will bring you to the search results page and display a list of businesses for you to browse and select for bookmarking.
        </p>
      <hr>
        <p id="q4">
           <h3>How do I create more lists for me to add venues to?</h3>

          In the navigation panel at the top of each page, you can input a keyword to characterize the type of venue you are searching for in the first box and the general location you would like to search around in the second. Hitting search will bring you to the search results page and display a list of businesses for you to browse and select for bookmarking.
        </p>
      <hr>
        <p id="q5">
           <h3>How do I delete a list that I no longer want?</h3>

          In the navigation panel at the top of each page, you can input a keyword to characterize the type of venue you are searching for in the first box and the general location you would like to search around in the second. Hitting search will bring you to the search results page and display a list of businesses for you to browse and select for bookmarking.
        </p>
      <hr>
        <p id="q6">
           <h3>How can I navigate through my lists?</h3>

          In the navigation panel at the top of each page, you can input a keyword to characterize the type of venue you are searching for in the first box and the general location you would like to search around in the second. Hitting search will bring you to the search results page and display a list of businesses for you to browse and select for bookmarking.
        </p>
      </div>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p align="center">&copy; TeamSALL 2012</p>
  </footer>

</div><!--/.fluid-container-->