<div class="container span12">
  <div class="row-fluid">
    <div class="span3">
        <p><input type="text" class="addBar" ng-model="addListText">&nbsp;&nbsp;&nbsp;<a class="btn btn-primary btn-small" ng-click="addNew()">Add List</a></p>
        <div class="well">
            <h4>Display Venues From:</h4>
            <form class="form form-inline" id="lists-of-lists">
              <p ng-repeat="list in lists">
                <input class="filterLists" type="checkbox" ng-click="clicked()" name="{{list.name}}" value="{{list.name}}">
                <label class="checkbox"> {{list.name}}</label>
                <img class="removeListIcon" src="img/remove.png" ng-click="removeList()"/>
              </p>
            </form>
            <small><i>(Check a list to display its contents.)</i><small>
        </div><!--/.well -->
    </div><!--/span-->

    <div class="span9">
      <div class="wrapper">
        <div class="hasNoVenues">
          <h1>There are no venues listed here.</h1>
        </div>

			  <!--Put the bookmarks here-->
        <!--
            <div ng-repeat="v in venues">
              <p>{{v.id}}</p>
            </div>
            -->
        <div class="hasVenues" style="display:none">
          <h2>Venues from Selected Lists:</h2>
          <h3 class="pull-right" id="sortBy">Sort By:
            <select id="filterPicker" ng-model="selectedItem" ng-change="selected()">
              <option>Highest Rating</option>
              <option>Most Reviews</option>
            </select>
          </h3>
      
          <table class="table table-striped">
            <tr ng-repeat="venue in venues" id="{{venue.id}}">
				      <td width="120"><img class="img-polaroid" src="{{venue.image_url}}"></td>
				      <td><p><strong class="search-item-title"><a href="{{venue.url}}">{{venue.name}}</a></strong><p>
                  Rating: <span class="rating" ng-bind-html="venue.ratingString"></span>&nbsp;({{venue.review_count}} reviews)<br>
					        Category: {{venue.categoriesString}}<br>
					        Location: {{venue.location.join(", ")}}
				      </td>
				      <td style="width:400px">
                <span class="address" ng-bind-html="venue.address"></span><br>
					      {{venue.phoneString}}
					      <span class="bookmark-btn"><br><br><a class="btn btn-primary btn-small" ng-click="venue.bookmark(this)">{{venue.bookmarkButtonText}}</a></span>
                <div class="save-section" style="display:none">
                  <form class="form-inline add-new-list">Add a New List:
                    <input type="text" class="add-new-list-input input-small mousetrap">
                    <a ng-click="venue.addNewList()" class="btn btn-primary add-new-list-btn">+</a>
                  </form>
                  <div class="list-of-lists">
                    <label class="checkbox" ng-repeat="list in lists"><input type="checkbox">{{list.name}}</label>
                  </div>
                  <a class="btn btn-primary btn-small save-btn" ng-click="venue.save()">Save Bookmark</a>
                </div>
				      </td>
			      </tr>																	
		      </table>
        </div>
      </div> 
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p align="center">&copy; TeamSALL 2012</p>
  </footer>

</div><!--/.fluid-container-->
