<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3">
      <p><a class="btn btn-primary btn-small">+</a>&nbsp;&nbsp;&nbsp;&nbsp;Add New Tag </p>
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Filter by Tags</li>
          <input type="checkbox" name="option1" value="Milk"> Morningside Restaurants <br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
          <input type="checkbox" name="option1" value="Milk"> Other Tag<br>
        </ul><br><br>
      </div><!--/.well -->
    </div><!--/span-->
    <div class="span9">
      <p ng-repeat="list in lists">{{list.name}}</p>
      <div class="hero-unit">
        	<table border="0" bordercolor="#000000" width="100%" cellpadding="3" cellspacing="3" align="left" valign="top">
				<tr valign="top" overflow="auto">
					<td valign="top"><a>Features</a>
						<br><input type="checkbox" name="option1" value="Milk"> Delivery<br>
          				<input type="checkbox" name="option1" value="Milk"> Pick-up<br>
          				<input type="checkbox" name="option1" value="Milk"> Bottle Service<br>
          				<input type="checkbox" name="option1" value="Milk"> Wine Tasting<br>          				
					</td>
					<td><a>Yelp Filter 2</a>
						<br><input type="checkbox" name="option1" value="Milk"> Filter Option 1<br>
          				<input type="checkbox" name="option1" value="Milk"> Filter Option 2<br>					
					</td>
					<td><a>Yelp Filter 3</a>
						<br><input type="checkbox" name="option1" value="Milk"> Filter Option 1<br>
          				<input type="checkbox" name="option1" value="Milk"> Filter Option 2<br>						
					</td>
					<td><a>Yelp Filter 4</a>
						<br><input type="checkbox" name="option1" value="Milk"> Filter Option 1<br>
          				<input type="checkbox" name="option1" value="Milk"> Filter Option 2<br>					
					</td>
					<td><a>Yelp Filter 5</a>
						<br><input type="checkbox" name="option1" value="Milk"> Filter Option 1<br>
          				<input type="checkbox" name="option1" value="Milk"> Filter Option 2<br>						
					</td>						
				</tr>																			
			</table>
      </div>
        <div class="wrapper"> 
			<!--Put the bookmarks here-->
			<table border="0" bordercolor="#000000" width="100%" cellpadding="3" cellspacing="3" align="left">
				<tr>
					<td width="150"> <img src="img/img1.jpg" height="150" width="150"> </td>
					<td valign="top"><a href="#/details">Milano Restaurant</a><br>
					Category: <a> Mexican </a><br>
					Location: <a> Harlem, NY </a><br>
					</td>
					<td valign="top">
					&#9733;&#9733;&#9733;&#9733;&#9734; <br>
					20 N Abel St <br>
					Milpitas, CA 95035 <br>
					<a>(408) 946-0466</a> <br>
					<a class="btn btn-primary btn-small">Edit Bookmark</a>
					</td>
				</tr>
				<tr>
					<td width="150"> <img src="img/img2.jpg" height="150" width="150"> </td>
					<td valign="top"><a href="#/details">Milano Restaurant</a><br>
					Category: <a> Mexican </a><br>
					Location: <a> Harlem, NY </a><br>
					</td>
					<td valign="top">
					&#9733;&#9733;&#9733;&#9733;&#9734; <br>
					20 N Abel St <br>
					Milpitas, CA 95035 <br>
					<a>(408) 946-0466</a> <br>
					<a class="btn btn-primary btn-small">Edit Bookmark</a>
					</td>
				</tr>
				<tr>
					<td width="150"> <img src="img/img3.jpg" height="150" width="150"> </td>
					<td valign="top"><a href="#/details">Milano Restaurant</a><br>
					Category: <a> Mexican </a><br>
					Location: <a> Harlem, NY </a><br>
					</td>
					<td valign="top">
					&#9733;&#9733;&#9733;&#9733;&#9734; <br>
					20 N Abel St <br>
					Milpitas, CA 95035 <br>
					<a>(408) 946-0466</a> <br>
					<a class="btn btn-primary btn-small">Edit Bookmark</a>
					</td>
				</tr>
				<tr>
					<td width="150"> <img src="img/img4.jpg" height="150" width="150"> </td>
					<td valign="top"><a href="#/details">Milano Restaurant</a><br>
					Category: <a> Mexican </a><br>
					Location: <a> Harlem, NY </a><br>
					</td>
					<td valign="top">
					&#9733;&#9733;&#9733;&#9733;&#9734; <br>
					20 N Abel St <br>
					Milpitas, CA 95035 <br>
					<a>(408) 946-0466</a> <br>
					<a class="btn btn-primary btn-small">Edit Bookmark</a>
					</td>
				</tr>
				<tr>
					<td width="150"> <img src="img/img10.jpg" height="150" width="150"> </td>
					<td valign="top"><a href="#/details">Milano Restaurant</a><br>
					Category: <a> Mexican </a><br>
					Location: <a> Harlem, NY </a><br>
					</td>
					<td valign="top">
					&#9733;&#9733;&#9733;&#9733;&#9734; <br>
					20 N Abel St <br>
					Milpitas, CA 95035 <br>
					<a>(408) 946-0466</a> <br>
					<a class="btn btn-primary btn-small">Edit Bookmark</a>
					</td>
				</tr>																			
			</table>
        </div> 
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p align="center">&copy; TeamSALL 2012</p>
  </footer>

</div><!--/.fluid-container-->
