<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div id="filters">
        <h3 class="pull-right">Filter By:
          <select id="filterPicker" onchange="filterSearch()">
            <option>--Select a filter--</option>
            <option ng-repeat="cat in categories">{{cat.display}}</option>
          </select>
        </h3>
      </div>
      
			<!--Put the bookmarks here-->
      <h3>Search Results:</h3>
      <p id="search-loading-icon"><img src="img/ajax-loader.gif"/> Loading...</p>
      <table class="table table-striped">
      	<tr ng-repeat="result in results" id="{{result.id}}">
					<td width="120"><img src="{{result.image_url}}"></td>
					<td><p><strong class="search-item-title"><a href="{{result.url}}">{{result.name}}</a></strong><p>
					  Category: {{result.categoriesString}}<br>
					  Location: {{result.location.join(", ")}}
					</td>
					<td style="width:400px">Rating: <span class="rating" ng-bind-html="result.ratingString"></span><br>
            <span class="address" ng-bind-html="result.address"></span><br>
					  {{result.phoneString}}
					  <span class="bookmark-btn"><br><br><a class="btn btn-primary btn-small" ng-click="result.bookmark(this)">{{result.bookmarkButtonText}}</a></span>
            <div class="save-section" style="display:none">
              <form class="form-inline add-new-list">Add a New List:
                <input type="text" class="add-new-list-input input-small mousetrap">
                <a ng-click="result.addNewList()" class="btn btn-primary add-new-list-btn">+</a>
              </form>
              <div class="list-of-lists"></div>
              <a class="btn btn-primary btn-small save-btn" ng-click="result.save()">Save Bookmark</a>
            </div>
					</td>
				</tr>																	
			</table>
      <strong id="noResults" class="text-error">No Results were found with that search. Please try again.</strong>
      <a class="btn btn-success pull-left previousPage" ng-click="previousPage()">Previous</a>
      <a class="btn btn-success pull-right nextPage" ng-click="nextPage()">Next</a>
    </div><!--/span-->
  </div><!--/row-->

  <hr>

  <footer>
    <p align="center">&copy; TeamSALL 2012</p>
  </footer>

</div><!--/.fluid-container-->
